body {
    background: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #FF851B;
    font-size: 20px;
    line-height: 1.6em;
}
h1, h2 ,h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
    color: #F65B3C;
    font-size: 30px;
    line-height: 1em;
}

li a {
  color: #f3835e;
  text-decoration: none;
}

a {
  color: #f3835e;
}

a:hover {
    background-color: #f3df5e;
}

.profilepic {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    width: 200px;
}

.moviepic {
    padding: 5px;
    width: 150px;
}

.card {
  background: #F9F7F6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
    text-align: center;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}


.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 5px;
}

.btn-red {
    background-color: #DD5555;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}
